head
    meta(charset="UTF-8")
    title A Mensageria, o PubSub e o Redux
    meta(name="description" content="A mensageria, o PubSub e o Redux")
    meta(name="author" content="Mario Souto")
    meta(property="og:type" content="website")
    meta(property="og:image" content="")
    meta(property="og:description" content="A mensageria, o PubSub e o Redux")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", type="text/css", href="css/main.css")
