/*
* uncomment your favorite theme
* if you want to see them live, take a look at:
* http://lab.hakim.se/reveal-js/#/themes
* to convert more themes, take from: https://github.com/hakimel/reveal.js/tree/master/css/theme
*/

/*
* Css file to create the generic presentation
*/
@import "vendor/reveal"


/* Config Colors: */
// Backgrounds
$themeBackground    = #FFFFFF
// Text
$themeTitleColor  = #000000//#383d3d
$themePColor        = #000000
$themeListColor     = #000000
$themeLinkColor     = navy // #51483D

// Controls Color
$themeControlColors = red
/**************/

/*
* In src/styl/reveal-themes have more themes !!
*/
@import "reveal-themes/serif"

/*
* In src/styl/highlight-themes have more awesome highlight-themes !!
*/
@import "highlight-themes/androidstudio"
